<!DOCTYPE html>
<html>
<head>
  <title>My Basic Blog</title>
</head>
<body>
  <h1>My Pointless Blog Post</h1>
  <h2>All Posts, Simples</h2>
  
  <% posts.each_with_index do |post, index| %>
    <h3><a href="/post/<%= index %>"><%= post[:title] %></a></h3>
    <p><%= post[:content] %></p>
    <hr>
  <% end %>

  <a href="/new">Create New Post</a>
</body>
</html>
