<!DOCTYPE html>
<html>
<head>
  <title>Post</title>
</head>
<body>
   <h1>Post <%= id %></h1>
  <h2><%= post[:title] %></h2>
  <p><%= post[:content] %></p>
  
  <a href="/">Back to All Posts</a>
</body>
</html>

